@mixin carrusel-buttons{
    .btn-right, .btn-left{
        display: flex;
        position: absolute;
        top: 50%;
        cursor: pointer;
    }
    .btn-left{
        left: 10px;
    }
    .btn-right{
        right: 10px;
    }
}
// seccion banner
@mixin banner{
    .promos__cont{
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        height: auto;
        @include flexbox-row;
        background: linear-gradient(270deg, rgba(20,78,77,1) 0%, rgb(20, 103, 82) 54%, rgba(20,78,77,1) 100%);
        justify-content:space-around;
        align-items: center;
        .promos__elements--sale{
            @include flexbox-colum;
            font-size: 2.2rem;
            @include small{
                font-size: 1.8rem;
            }
        }
        h1{
            width: 25rem;
            padding: 1rem;
            font-size: 2em;
            text-align: center;
            color:#ffffff;
            @include small{
                font-size: 1.5rem;
                padding: 0.1rem;
                width: 40%;
            }
        }
        span{
            font-size: 2em;
            color: #78ea14;
            font-weight: 600;
            @include small{
                font-size: 1.4rem;
            }
        }
        p{
            font-size: 2em;
            color: var(--letter-color);
        }
        .promo__firstElement{
            border: solid var(--letter-color) 2px;
            border-radius: 20px;
            text-align: center;
        }
        .promo__lastElement{
            @include flexbox-row;    
            gap: 0.35rem;
            svg{
                width: 30px;
                fill: var(--letter-color);
            }
            .lastElement__text{
                font-size: 1.4rem;
                font-weight: 500;
                @include small{
                    font-size: 1.1rem;
                }
            }
        }
    }
}
